.bg {
    /* The image used */
    background-image: url("../../assets/home-bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo{
    height: 90px;
    margin: 20px !important;
  }