<div class="bg">
    <div class="container-fluid link-cont">
        <div class="row">
            <div class="col-md-6">
                <div class="need-support"  routerLink='/need-support'>
                    <app-link-card [linkInfo]='needSupport'></app-link-card>
                </div>
            </div>
            <div class="col-md-6"  routerLink='/provide-support'>
                <div class="provide-support">
                    <app-link-card [linkInfo]='provideSupport'></app-link-card>
                </div>
            </div>

        </div>
    </div>
</div>