.bg {
    /* The image used */
    background-image: url("../../assets/home-bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 

  .need-support{
    margin-bottom: 50px !important;
  }

  .link-cont{
    position: absolute;
    top: 200px;
  }