.home-menu{
    position: absolute;
    width: 100%;
    top: 20px;
    right: 20px;
    z-index: 99;
}

a.nav-link{
    color: white;
    cursor: pointer;
}

.nav-item{
    background: #515151;
    opacity: 0.9;
    border-top: 2px solid white;
}

.logo{
    height: 90px;
    top: 0px;
    position: absolute;
    left: 40px;
  }