<div class="adjust-margin mb-5">

    <h2 style="text-align: center;margin-bottom: 50px !important;"><b>ABOUT US</b></h2>

    <H3>Technical Support</H3>
    <p>We as an entity, have created a dynamic platform for the developers to interact with one another and help
    each other mutually. There are many instances where intern's or even seasoned developers face challenges while
    coding or during the SDLC. We are here to provide you with the technical support you need to overcome the obstacles
    and have a seamless and relaxing job experience.</p>

    <h3>Training:</h3>
    <p>We look for helping individuals who are new to Software Development by providing them training with real time
    experts instead of book-oriented lectures. This way of learning places the individual in the arena where learning
    happens parallel to the work.</p>

    <h3>Finally:</h3>
    <p>We wish everyone a smooth learning and work experience so that they can have a great time during and post work
    hours. :)</p>


</div>