.router-outlet{
    height: 100%;
    position: relative;
    // z-index: -1;
    // // background-color: rgb(229 229 247 / 20%);
    // // background-image: radial-gradient(rgb(0 0 0 / 20%) 1px, rgb(229 229 247 / 20%) 1px);
    // background-size: 20px 20px;
    // background-color: #f6f6f6;
}