.card-link-container{
    background: #515151;
    color: white;
    padding: 20px;
    font-size: 22px;
    max-width: 465px;
    border-radius: 5px;
}

.white-link{
    color: white;
    text-decoration: underline;
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px !important;
}