@import "~bootstrap/dist/css/bootstrap.css";


body, html {
    height: 100%;
  }

  *{
      margin: 0 !important;
  }

  .adjust-padding{
      padding-left: 100px;
      padding-top: 8px;
  }

  .adjust-margin{
    margin: 150px !important;
}

@media(max-width:720px){
    .adjust-margin {
        margin: 150px 20px!important;
    }
}

.full-bg{
    background-color: #f3f3f3;
}

@media(max-width: 720px){
    .adjust-padding{
        padding-left: 0px;
        padding-top: 150px;
    }
}